header {
  background-color: #f2f2f2;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.logo img {
  height: 50px;
  width: auto;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-links li a:hover {
  color: #333;
}

li {
  cursor: pointer;
}

.profilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px #333 solid;
}
