header {
  background: linear-gradient(to right, #190e12 0%,#303647 100%);
  border-bottom: solid #333 1px;
  height: 80px;
  padding: 0 30px 20px 0;
 
}



.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.logo img {
  height: 50px;
  width: auto;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: beige;
  font-weight: 800;
  font-size: 20px;
}

.nav-links li a:hover {
  color: #ab9f9f;
}
p, ul > li {
  font-weight: 800;
  font-size: 20px;
}
ul > li:hover, p:hover {
  color:beige;
}

li {
  cursor: pointer;
}

.profilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px beige solid;
}

